thead{
    margin-bottom: 10px;
    margin-top: 10px;
}

.fa-edit, .fa-archive{
    margin-right: 7px;
}

.header, .header-archive{
    background-color: grey;
    color: white;
}

.btn-primary{
    margin-bottom: 50px;
}

td {
    max-width: 50px;
    background-color: gainsboro;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table.table-bordered {
    border-collapse: separate;
    border-spacing: 0;
}

table.table-bordered th,
table.table-bordered td {
    border: none;
}

table.table-bordered tbody {
    padding: 10px;
    border-radius: 10px;
}

table.table-bordered {
    border-collapse: separate;
    border-spacing: 0;
}

table.table-bordered th,
table.table-bordered td {
    border: none;
}

table.table-bordered tbody tr {
    padding: 10px;
    border-radius: 10px;
}

table.table-bordered td.text-right {
    text-align: right;
}

table.table-bordered tbody tr {
    margin-bottom: 10px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #343a40;
}

.icon-btn{
    border: none;
    background: none;
    padding: 3px;
}